.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
.logo{
    height:75px;
    width:75px;
}

.belts{
    height:100px;
    width:100px;
}

.sparring{
    height:100px;
    width:100px;
}